<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p> <%= username %></p>
    <form action="/messages" method="POST">
      <input type="text" name="username" hidden id="username" />
      <input type="text" name="chats" placeholder="Type your message" />
      <button>Send</button>
    </form>

    <script>
      const storedData = localStorage.getItem("username");
      document.querySelector('input[name="username"]').value = storedData;
    </script>
  </body>
</html>
